visidata
pandas
requests
aiohttp
aiodns
cchardet
ipython
ipdb
black
mypy
pylint
isort
python-lsp-server
pyls-mypy
pyls-isort
python-lsp-black
pyls-memestra
pyls-rope
matplotlib
jupyter
bandit
notcurses
